---
import CardSkill from "./CardSkills";
import CardTerminal from "../layouts/CardTerminal.astro";
import Button from "./Button.astro";
---

<section class="skills" id="skills">
  <h2 data-aos="fade-up" class="titulo titulo__dark">Skills</h2>
  <div class="skills__container max__width">
    <CardTerminal animation="fade-right">
      <p class="terminal__content terminal__content--p">
        ≥ Strong foundation in
        <span class="terminal__content terminal__content--span"
          >semantic HTML,Javascript, NextJs, React, React Router, Axios, and Astro; CSS,
          SCSS, Styled Components, SASS,Bootstrap, tailwind. I also have the
          basics of MySQL.</span
        >
      </p>
      <p class="terminal__content terminal__content--color">
        ≥ In addition to my technical skills, I have experience in graphic
        design and UI design.
      </p>
      <Button
        href="./docs/cv.pdf"
        text="Download CV"
        target="_blank"
      />
    </CardTerminal>
	  <div class="skills__cards-container">
	<CardSkill />
	</div>
  </div>
</section>
